@import "tailwindcss";

@theme {
  --font-family-knewave: var(--font-knewave), cursive;
  --font-family-inter: var(--font-inter), sans-serif;
  --font-family-goldman: var(--font-goldman), sans-serif;
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

.font-knewave {
  font-family: var(--font-knewave), cursive;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-goldman {
  font-family: var(--font-goldman), sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
